body {
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
  margin-left: 40px;
  margin-right: 40px;
}

h1, p {
  text-align: center;
  font-family: "Helvetica";
}

h1 {
  letter-spacing: 5px;
  font-weight: 100;
  margin-top: 150px;
  line-height: 170%;
  font-size: 42px;
}

p {
  font-style: italic;
  font-weight: 600;
  margin-top: 80px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
    letter-spacing: 3px;
    margin-top: 20px;
  }
  p {
    font-size: 12px;
    margin-top: 60px;
  }
  h2 {
    margin-top: 20px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  h1 {
    font-size: 26px;
    letter-spacing: 4px;
    margin-top: 150px;
  }
  p {
    font-size: 16px;
  }
  h2 {
    margin-top: 20px;
  }
}

h2 {
  text-align: right;
  font-size: 18px;
  margin-top: 350px;
  letter-spacing: 1px;
}

ul {
  list-style-type: none;
  text-align: right;
}

li {
  letter-spacing: 2px;
}

a:hover {
  color: firebrick;
}



